@import 'styles/beige.cards.scss';
@import 'styles/localise.scss';
@import 'styles/man-revolut-section.scss';
@import 'styles/boost-section.scss';
@import 'styles/section-tort.scss';
@import 'styles/last page.scss';
@import 'styles/section-footer.scss';
@import 'styles/global.scss';
@import 'styles/bird section.scss';
@import 'styles/beige.cards.scss';

@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/transfonter.org-20240220-140411/GraphikLCG-Regular.woff2') format('woff2'),
        url('fonts/transfonter.org-20240220-140411/GraphikLCG-Regular.woff') format('woff'),
        url('fonts/transfonter.org-20240220-140411/GraphikLCG-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/transfonter.org-20240220-140411/GraphikLCG-Semibold.ttf') format('woff2'),
        url('fonts/transfonter.org-20240220-140411/GraphikLCG-Semibold.woff') format('woff'),
        url('fonts/transfonter.org-20240220-140411/GraphikLCG-Semibold.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}